<div class="row">
    <div class = "small-6 columns">
        <br>
        <h3>Place Sell Order for</h3>
        <h3>{{model.name}}</h3>
    </div>
    <div class = "small-6 columns">
        <br>
        <img {{bind-attr src=model.companyLogo}} height = "100" width ="200">
    </div>
</div>
<div class="row">
    <div class="small-6 columns">
        <h4>Number of Shares</h4>
        {{ input
        type="text"
        value=shares}}
        <h4>Sale Price</h4>
        {{ input
        type="text"
        value=price}}
        <button {{action 'submit'}}>Submit</button>
        <button {{action 'cancel'}}>Cancel</button>
    </div>
</div>