<div class="row">
    <div class = "small-6 columns">
        <h3>Place Sell Order for</h3><br>
        <h3>{{model.name}}</h3>
    </div>
    <div class = "small-6 columns">
        <img {{bind-attr src=model.companyLogo}} height = "200" width ="400">
    </div>
</div>
<div class="row"
    <div class="small-4 columns">
        <h4>Number of Shares</h4>
        {{ input
        type="text"
        value=shares}}
        <h4>Sale Price</h4>
        {{ input
        type="text"
        value=price}}
        <button {{action 'submit'}}>Submit</button>
        {{#link-to 'stocksStateSummary'}}<button>Cancel</button>{{/link-to}}
    </div>
</div>