<div class="row">
    <div class="small-10 small-centered columns">
        <table>
            <thead>
                <tr>
                    <th align="center">Company</th>
                    <th align="center">Open Price</th>
                    <th align="center">Current Price</th>
                    <th align="center">Change <br>Value - %</th>
                    <th align="center">Share Volume</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each item in model}}
                    <tr>
                        <td><a href='#' {{action 'displayCompany' item.id}}>{{item.company}}</a></td>
                        <td>{{item.openPrice}}</td>
                        <td>{{item.currentPrice}}</td>
                        <td>{{item.changeValue}} <img {{bind-attr src=item.changeSymbol}}> {{item.changePercent}}</td>
                        <td>{{item.shareVolume}}</td>
                        <td>{{#link-to 'placeBidOrder'}}<button>Buy</button>{{/link-to}}{{#link-to 'placeSellOrder'}}<button>Sell</button>{{/link-to}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>


        <!--<div class="small-6 small-text-center columns">-->

        <!--</div>-->
        <!--<div class="small-6 small-text-center columns">-->

        <!--</div>-->
        <!--<div class="small-6 small-text-center columns">-->

        <!--</div>-->

    {{outlet 'marketByOrder'}}
    {{outlet 'marketByPrice'}}
    {{outlet 'symbol'}}

</div>