<div class="row">
    <div class="small-12 small-centered columns">
        <nav class="top-bar" data-topbar role="navigation">
            <section class ="top-bar-section">
                <ul class="left">
                    <li class="name">
                        <h1><a href=#">Most Active By Volume</a></h1>
                    </li>
                    <li class="name">
                        <h1><a href="#">Gainers</a></h1>
                    </li>
                    <li class="name">
                        <h1><a href="#">Losers</a></h1>
                    </li>
                </ul>
            </section>
        </nav>
    </div>
</div>
<div class="row">
    <div class="small-12 small-centered columns">
        <table>
            <thead>
                <tr>
                    <th align="center">Company</th>
                    <th align="center">Open Price</th>
                    <th align="center">Current Price</th>
                    <th align="center">Change <br>Value - %</th>
                    <th align="center">Share Volume</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each item in model}}
                    <tr>
                        <td>{{#link-to 'companyInfo' item.id}}{{item.name}}{{/link-to}}</td>
                        <td>{{item.openPrice}}</td>
                        <td>{{item.currentPrice}}</td>
                        <td>{{item.changeValue}} <img {{bind-attr src=item.changeSymbol}}> {{item.changePercent}}</td>
                        <td>{{item.shareVolume}}</td>
                        <td>{{#link-to 'placeBidOrder' item.id}}<button>Buy</button>{{/link-to}}{{#link-to 'placeSellOrder' item.id}}<button>Sell</button>{{/link-to}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div>
        <ul class = "small-block-grid-3">
            <li>
                {{outlet "marketByOrder"}}
            </li>
            <li>
                {{outlet "marketByPrice"}}
            </li>
            <li>
                {{outlet "symbol"}}
            </li>
        </ul>
    </div>
</div>